.explain-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.explain-container::after {
    content: ''; display: block; clear: both; visibility: hidden;
}

.explain-container div {
    float: left;
    width: 25%;
    text-align: center;
}

@media screen and (max-width:1200px){
    .explain-container {
        max-width: 600px;
    }
    .explain-container div {
        width: 50%;
    }
}

@media screen and (max-width:768px){
    .explain-container {
        max-width: 300px;
    }
    .explain-container div {
        width: 100%;
    }
}

/* 디버깅 개발자도구 F12 */