@font-face {
    font-family: '작명~~~~';
    src: url(./~~~~);
    font-weight: 800;
}

body {
    margin: 0;
    font-family: 'gulim', 'dotum', 'arial', '작명~~~~'; 
    /* 안정적 */
}

.main-btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}