body {
    background-color: #000;
}

.hamburger div {
    background-color: #fff;
    width: 45px;
    height: 5px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-8px, -6px);
}